{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NES Romifier</title>
    <link rel="stylesheet" href="{%static "css/main.css" %}">
</head>
<body>
    <div>
    <nav>
        <div><a href="{% url "show_main" %}">Home</a>

        </div>
    </nav>
    </div>
{% block content %}
{% endblock content %}
</body>
</html>
