{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> Convert Text to 6502 Assembly </h1>
<div class = "grid-container">
<div class="grid-item">
    <p>
        <form action = "" method = "post">
            {% csrf_token %}
            {{ convert_form.as_p }}
        <button>Convert Text</button>
        </form>
    </div>
    <div class = "grid-item">
        <h2>Create NES ROM </h2>
         <form action = "" method="post">
          {% csrf_token %}
        <button type = "submit" name = "run_batch">Create</button>
        </form>
    </div>
    </p>

</div>
<div>
    <h2>
        Hex
    </h2>
    {{ converted_text_HEX }}
    <h2>
        Binary
    </h2>
    {{ converted_text_BIN }}
</div>





{% endblock content %}
