{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1> Generate NES ROM </h1>
    <div class="grid-container">
        <div class="grid-item">
            <p>
            <a href="{% url "nes_upload" %}">Upload</a>
            </p>
        </div>
        <div class="grid-item">
            <p>
                <a href="{% url "rom_list" %}">ROM List</a>
            </p>
        </div>
        <div class="grid-item">
            <p>
                <a href="{% url "convert" %}">Convert to ASM</a>
            </p>
        </div>

    </div>

{% endblock content %}
