{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <h1>Upload: </h1>
    <div>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Upload</button>
        </form>
    </div>
    </div>

    <div>
        <h2>Create NES ROM </h2>
        <form action = "" method="post">
            {% csrf_token %}
        <button type = "submit" name = "run_batch">Create</button>
        </form>
        </div>

{% endblock content %}
