{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <table>
        <th>Rom Name </th>
    {% for rom in rom_list %}
        <tr> <td>{{ rom.name }} </td> </tr>
    {% endfor %}

    </table>
{% endblock content %}
