.grid-container {

    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr);
}

.grid-item {
    padding: 12px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 black;
}

h1 {
    background-color: aqua;
}
